<!-- partials/about.hbs -->

<p class="text-sm text-gray-300">{{{translations.banner_main_text}}}</p>
<p class="text-sm text-gray-300">{{{translations.about_cookies}}}</p>
<p class="text-sm text-gray-300">
  <a
    aria-label="{{google_privacy_policy_link}}"
    href=""
  >{{{translations.google_privacy_policy_link}}}</a>
</p>