<!-- partials/header.hbs -->

<div class="flex items-center justify-between gap-4">
  <h3 class="font-semibold leading-none tracking-tight">
    {{{translations.banner_heading}}}
  </h3>
  <p class="text-xs">
    Powered by
    <a
      class="font-semibold underline"
      href="https://cookieinformation.com/"
      target="_blank"
    >Cookie Information</a>
  </p>
</div>