<!-- partials/notices.hbs -->

<div data-notices class="border rounded-md border-[#27272A] overflow-hidden divide-y-1 > * + * divide-[#27272A] > * + *">
  {{> notice}}
  {{> notice}}
  {{> notice}}
</div>