<!-- partials/notice.hbs -->

<div role="button" class="p-2">
  <h3>
    <button
      id="accordion-header-1"
      aria-expanded="true"
      aria-controls="accordion-panel-1"
      data-accordion-header
      class="data-accordion-header flex w-full items-center justify-between"
    >
      <span>Marketing</span>
      <div
        type="button"
        class="exclude-trigger group relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-slate-800 transition-colors duration-200 ease-in-out focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 focus:outline-none aria-checked:bg-indigo-600"
        role="switch"
        tabindex="0"
        aria-checked="false"
        data-toggle-button
      >
        <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
        <span
          class="pointer-events-none relative inline-block h-5 w-5 translate-x-0 transform rounded-full bg-white ring-0 shadow transition duration-200 ease-in-out group-aria-checked:translate-x-5"
        >
          <!-- Enabled: "opacity-0 duration-100 ease-out", Not Enabled: "opacity-100 duration-200 ease-in" -->
          <span
            class="absolute inset-0 flex h-full w-full items-center justify-center opacity-100 transition-opacity duration-200 ease-in group-aria-checked:opacity-0 group-aria-checked:duration-100 group-aria-checked:ease-out"
            aria-hidden="true"
          >
            <svg class="h-3 w-3 text-gray-400" fill="none" viewBox="0 0 12 12">
              <path
                d="M4 8l2-2m0 0l2-2M6 6L4 4m2 2l2 2"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <!-- Enabled: "opacity-100 duration-200 ease-in", Not Enabled: "opacity-0 duration-100 ease-out" -->
          <span
            class="absolute inset-0 flex h-full w-full items-center justify-center opacity-0 transition-opacity duration-100 ease-out group-aria-checked:opacity-100 group-aria-checked:duration-200 group-aria-checked:ease-in"
            aria-hidden="true"
          >
            <svg
              class="h-3 w-3 text-indigo-600"
              fill="currentColor"
              viewBox="0 0 12 12"
            >
              <path
                d="M3.707 5.293a1 1 0 00-1.414 1.414l1.414-1.414zM5 8l-.707.707a1 1 0 001.414 0L5 8zm4.707-3.293a1 1 0 00-1.414-1.414l1.414 1.414zm-7.414 2l2 2 1.414-1.414-2-2-1.414 1.414zm3.414 2l4-4-1.414-1.414-4 4 1.414 1.414z"
              />
            </svg>
          </span>
        </span>
      </div>
    </button>
  </h3>
  <section
    id="accordion-panel-1"
    aria-labelledby="accordion-header-1"
    class="mt-4 text-sm"
  >
    <p>
      cookies and services are used to deliver personalized advertisements,
      promotions, and offers. These technologies enable targeted advertising and
      marketing campaigns by collecting information about users' interests,
      preferences, and online activities..
    </p>
  </section>
</div>